

{% block body %}
<h1>Vue A</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio alias magni ipsum consequatur architecto, tempora voluptate maiores voluptates harum ullam soluta omnis voluptatum, aliquam labore, quia voluptas! Inventore, facilis praesentium.</p>
<p>Facere corporis numquam repellat libero cumque perspiciatis ab architecto amet cum aliquid perferendis quia minus quisquam, nisi similique soluta voluptatibus. Rem ullam sequi voluptatibus ea quos nulla impedit voluptates quod!</p>
<p>Iste porro recusandae voluptatibus voluptatum illum eum dolor nesciunt vel totam doloremque est quisquam incidunt sint consectetur, quia eius beatae libero neque? Iste provident velit officia doloribus mollitia. Recusandae, itaque?</p>
<p>Illum vero laudantium praesentium quia in nulla magnam saepe voluptates exercitationem? Quasi minus provident explicabo ipsum error. Delectus, vitae, optio perspiciatis repellendus cupiditate cum debitis, iste adipisci molestias esse commodi!</p>
{% endblock %}
