

{% block body %}
<h1>Vue C</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos odit labore officiis expedita voluptas porro perferendis error unde dolorum aliquid cupiditate, laborum sit, ullam iure natus quis aliquam nisi et.</p>
<p>Officiis, accusamus consectetur at ducimus fuga, modi perspiciatis reprehenderit recusandae dignissimos, natus quisquam! Possimus quis doloremque necessitatibus dolorem corporis, temporibus debitis, ad velit ex quas harum est voluptas reiciendis vel?</p>
<p>Veritatis ea maxime fuga? Blanditiis optio minus doloremque unde id impedit reiciendis ipsa consectetur qui error laudantium illum vel earum, quis cum corporis magni deserunt quasi et ab quibusdam fuga.</p>
<p>Consequuntur placeat, delectus eveniet a, voluptatibus atque, labore tempora perspiciatis reiciendis laudantium consequatur distinctio maxime deserunt cumque dolorum exercitationem qui facere provident voluptatum ea laborum odio assumenda temporibus optio! Iure.</p>
{% endblock %}
