
{% block body %}
<h1>Vue B</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, quasi. Dolorem incidunt amet architecto, facilis corrupti voluptas magni iste consequuntur illum eaque in exercitationem vero quod ab quam porro dicta?</p>
<p>Rem error sed itaque odio temporibus iste eaque, in, eius et totam nulla dolorem ipsam officia aspernatur. Explicabo facilis sapiente inventore aspernatur amet commodi, delectus in nulla obcaecati eius minus?</p>
<p>Repudiandae accusamus provident recusandae quasi consectetur, totam, earum odit ipsa labore, quae molestias ullam nobis. Consequatur voluptatum doloremque autem sunt. Suscipit beatae harum aliquam vitae, repellat cumque reiciendis voluptas nostrum!</p>
<p>Eligendi dolorum iure laboriosam deleniti voluptatibus. Ut voluptate quasi quia ex fugiat harum sequi eos at modi dolorum enim hic tenetur dignissimos libero, culpa quibusdam a iste. Omnis, nam facere.</p>
<p>Non autem cum veritatis. Dolorum, fuga illo amet repudiandae ipsa nemo facilis ad. Porro eaque ex similique aperiam fugiat. Expedita voluptate cumque rem velit reprehenderit quo consequatur dolores dolorum impedit!</p>
<p>Mollitia, quis. Natus at modi quod iure amet molestiae odit beatae vero minima temporibus, impedit dolor ipsa? Provident consequatur enim, tenetur ipsum odio, sunt quo deserunt non cupiditate, eius ut!</p>
<p>Exercitationem officia ipsum quasi architecto voluptatem. Laborum quas sequi, praesentium unde vero illo, placeat maiores dignissimos nihil similique illum labore impedit, atque deleniti. Natus repellendus sed eius saepe dolorem accusantium?</p>
<p>Cumque animi alias eligendi eveniet quidem repellat consequatur velit eius, eum praesentium fugiat excepturi enim sunt aperiam, quos distinctio maxime temporibus autem vero vitae impedit sapiente dolore? Delectus, quia cumque!</p>
<p>Aspernatur excepturi harum, nemo quas totam magnam illo vitae ab perspiciatis deserunt reiciendis quam consectetur dolores natus velit perferendis ad doloremque fugit dignissimos molestiae eaque facere adipisci beatae expedita! Quos.</p>
<p>Ipsam minima cupiditate veritatis sit blanditiis, voluptatem molestias eligendi molestiae commodi rem velit fugit, quis odio voluptas delectus ipsum provident ullam doloribus quae optio vero iste, mollitia quaerat? Sed, laudantium.</p>
{% endblock %}
